.vscode/*.*
api-lib/.settings/*.*

api-lib/target/*.*
api-lib/target/**/*.*
api-lib/.classpath
api-lib/.factorypath
api-lib/.project
dao-lib/.settings/*.*
dao-lib/target/*.*
dao-lib/target/**/*.*
dao-lib/.classpath
dao-lib/.factorypath
dao-lib/.project
db-migration/target/*.*
db-migration/target/**/*.*
domain/.settings/*.*
domain/target/*.*
domain/target/**/*.*
domain/.classpath
domain/.factorypath
domain/.project
infrastructure/.settings/*.*
infrastructure/target/*.*
infrastructure/target/**/*.*
infrastructure/.classpath
infrastructure/.factorypath
infrastructure/.project
logging/target/*.*
logging/target/**/*.*
ports/.settings/*.*
ports/target/*.*
ports/target/**/*.*
ports/.classpath
ports/.factorypath
ports/.project
validation/target/*.*
validation/target/**/*.*
webapi/.settings/*.*
webapi/target/*.*
webapi/target/**/*.*
webapi/.classpath
webapi/.factorypath
webapi/.project
webapi/LOG_PATH_IS_UNDEFINED/orm-usm.log
webapi/orm-usm.log
orm-usm.log
scripts/kafka_2.12-3.6.0/LICENSE
scripts/kafka_2.12-3.6.0/NOTICE
scripts/kafka_2.12-3.6.0/bin/connect-distributed.sh
scripts/kafka_2.12-3.6.0/bin/connect-mirror-maker.sh
scripts/kafka_2.12-3.6.0/bin/connect-plugin-path.sh
scripts/kafka_2.12-3.6.0/bin/connect-standalone.sh
scripts/kafka_2.12-3.6.0/bin/kafka-acls.sh
scripts/kafka_2.12-3.6.0/bin/kafka-broker-api-versions.sh
scripts/kafka_2.12-3.6.0/bin/kafka-cluster.sh
scripts/kafka_2.12-3.6.0/bin/kafka-configs.sh
scripts/kafka_2.12-3.6.0/bin/kafka-console-consumer.sh
scripts/kafka_2.12-3.6.0/bin/kafka-console-producer.sh
scripts/kafka_2.12-3.6.0/bin/kafka-consumer-groups.sh
scripts/kafka_2.12-3.6.0/bin/kafka-consumer-perf-test.sh
scripts/kafka_2.12-3.6.0/bin/kafka-delegation-tokens.sh
scripts/kafka_2.12-3.6.0/bin/kafka-delete-records.sh
scripts/kafka_2.12-3.6.0/bin/kafka-dump-log.sh
scripts/kafka_2.12-3.6.0/bin/kafka-e2e-latency.sh
scripts/kafka_2.12-3.6.0/bin/kafka-features.sh
scripts/kafka_2.12-3.6.0/bin/kafka-get-offsets.sh
scripts/kafka_2.12-3.6.0/bin/kafka-jmx.sh
scripts/kafka_2.12-3.6.0/bin/kafka-leader-election.sh
scripts/kafka_2.12-3.6.0/bin/kafka-log-dirs.sh
scripts/kafka_2.12-3.6.0/bin/kafka-metadata-quorum.sh
scripts/kafka_2.12-3.6.0/bin/kafka-metadata-shell.sh
scripts/kafka_2.12-3.6.0/bin/kafka-mirror-maker.sh
scripts/kafka_2.12-3.6.0/bin/kafka-producer-perf-test.sh
scripts/kafka_2.12-3.6.0/bin/kafka-reassign-partitions.sh
scripts/kafka_2.12-3.6.0/bin/kafka-replica-verification.sh
scripts/kafka_2.12-3.6.0/bin/kafka-run-class.sh
scripts/kafka_2.12-3.6.0/bin/kafka-server-start.sh
scripts/kafka_2.12-3.6.0/bin/kafka-server-stop.sh
scripts/kafka_2.12-3.6.0/bin/kafka-storage.sh
scripts/kafka_2.12-3.6.0/bin/kafka-streams-application-reset.sh
scripts/kafka_2.12-3.6.0/bin/kafka-topics.sh
scripts/kafka_2.12-3.6.0/bin/kafka-transactions.sh
scripts/kafka_2.12-3.6.0/bin/kafka-verifiable-consumer.sh
scripts/kafka_2.12-3.6.0/bin/kafka-verifiable-producer.sh
scripts/kafka_2.12-3.6.0/bin/trogdor.sh
scripts/kafka_2.12-3.6.0/bin/zookeeper-security-migration.sh
scripts/kafka_2.12-3.6.0/bin/zookeeper-server-start.sh
scripts/kafka_2.12-3.6.0/bin/zookeeper-server-stop.sh
scripts/kafka_2.12-3.6.0/bin/zookeeper-shell.sh
scripts/kafka_2.12-3.6.0/bin/windows/connect-distributed.bat
scripts/kafka_2.12-3.6.0/bin/windows/connect-plugin-path.bat
scripts/kafka_2.12-3.6.0/bin/windows/connect-standalone.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-acls.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-broker-api-versions.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-cluster.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-configs.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-console-consumer.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-console-producer.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-consumer-groups.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-consumer-perf-test.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-delegation-tokens.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-delete-records.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-dump-log.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-e2e-latency.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-features.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-get-offsets.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-jmx.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-leader-election.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-log-dirs.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-metadata-quorum.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-mirror-maker.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-producer-perf-test.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-reassign-partitions.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-replica-verification.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-run-class.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-server-start.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-server-stop.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-storage.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-streams-application-reset.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-topics.bat
scripts/kafka_2.12-3.6.0/bin/windows/kafka-transactions.bat
scripts/kafka_2.12-3.6.0/bin/windows/zookeeper-server-start.bat
scripts/kafka_2.12-3.6.0/bin/windows/zookeeper-server-stop.bat
scripts/kafka_2.12-3.6.0/bin/windows/zookeeper-shell.bat
scripts/kafka_2.12-3.6.0/config/connect-console-sink.properties
scripts/kafka_2.12-3.6.0/config/connect-console-source.properties
scripts/kafka_2.12-3.6.0/config/connect-distributed.properties
scripts/kafka_2.12-3.6.0/config/connect-file-sink.properties
scripts/kafka_2.12-3.6.0/config/connect-file-source.properties
scripts/kafka_2.12-3.6.0/config/connect-log4j.properties
scripts/kafka_2.12-3.6.0/config/connect-mirror-maker.properties
scripts/kafka_2.12-3.6.0/config/connect-standalone.properties
scripts/kafka_2.12-3.6.0/config/consumer.properties
scripts/kafka_2.12-3.6.0/config/log4j.properties
scripts/kafka_2.12-3.6.0/config/producer.properties
scripts/kafka_2.12-3.6.0/config/server.properties
scripts/kafka_2.12-3.6.0/config/tools-log4j.properties
scripts/kafka_2.12-3.6.0/config/trogdor.conf
scripts/kafka_2.12-3.6.0/config/zookeeper.properties
scripts/kafka_2.12-3.6.0/config/kraft/broker.properties
scripts/kafka_2.12-3.6.0/config/kraft/controller.properties
scripts/kafka_2.12-3.6.0/config/kraft/server.properties
scripts/kafka_2.12-3.6.0/libs/activation-1.1.1.jar
scripts/kafka_2.12-3.6.0/libs/aopalliance-repackaged-2.6.1.jar
scripts/kafka_2.12-3.6.0/libs/argparse4j-0.7.0.jar
scripts/kafka_2.12-3.6.0/libs/audience-annotations-0.12.0.jar
scripts/kafka_2.12-3.6.0/libs/caffeine-2.9.3.jar
scripts/kafka_2.12-3.6.0/libs/checker-qual-3.19.0.jar
scripts/kafka_2.12-3.6.0/libs/commons-beanutils-1.9.4.jar
scripts/kafka_2.12-3.6.0/libs/commons-cli-1.4.jar
scripts/kafka_2.12-3.6.0/libs/commons-collections-3.2.2.jar
scripts/kafka_2.12-3.6.0/libs/commons-digester-2.1.jar
scripts/kafka_2.12-3.6.0/libs/commons-io-2.11.0.jar
scripts/kafka_2.12-3.6.0/libs/commons-lang3-3.8.1.jar
scripts/kafka_2.12-3.6.0/libs/commons-logging-1.2.jar
scripts/kafka_2.12-3.6.0/libs/commons-validator-1.7.jar
scripts/kafka_2.12-3.6.0/libs/connect-api-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/connect-basic-auth-extension-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/connect-file-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/connect-json-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/connect-mirror-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/connect-mirror-client-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/connect-runtime-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/connect-transforms-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/error_prone_annotations-2.10.0.jar
scripts/kafka_2.12-3.6.0/libs/hk2-api-2.6.1.jar
scripts/kafka_2.12-3.6.0/libs/hk2-locator-2.6.1.jar
scripts/kafka_2.12-3.6.0/libs/hk2-utils-2.6.1.jar
scripts/kafka_2.12-3.6.0/libs/jackson-annotations-2.13.5.jar
scripts/kafka_2.12-3.6.0/libs/jackson-core-2.13.5.jar
scripts/kafka_2.12-3.6.0/libs/jackson-databind-2.13.5.jar
scripts/kafka_2.12-3.6.0/libs/jackson-dataformat-csv-2.13.5.jar
scripts/kafka_2.12-3.6.0/libs/jackson-datatype-jdk8-2.13.5.jar
scripts/kafka_2.12-3.6.0/libs/jackson-jaxrs-base-2.13.5.jar
scripts/kafka_2.12-3.6.0/libs/jackson-jaxrs-json-provider-2.13.5.jar
scripts/kafka_2.12-3.6.0/libs/jackson-module-jaxb-annotations-2.13.5.jar
scripts/kafka_2.12-3.6.0/libs/jackson-module-scala_2.12-2.13.5.jar
scripts/kafka_2.12-3.6.0/libs/jakarta.activation-api-1.2.2.jar
scripts/kafka_2.12-3.6.0/libs/jakarta.annotation-api-1.3.5.jar
scripts/kafka_2.12-3.6.0/libs/jakarta.inject-2.6.1.jar
scripts/kafka_2.12-3.6.0/libs/jakarta.validation-api-2.0.2.jar
scripts/kafka_2.12-3.6.0/libs/jakarta.ws.rs-api-2.1.6.jar
scripts/kafka_2.12-3.6.0/libs/jakarta.xml.bind-api-2.3.3.jar
scripts/kafka_2.12-3.6.0/libs/javassist-3.29.2-GA.jar
scripts/kafka_2.12-3.6.0/libs/javax.activation-api-1.2.0.jar
scripts/kafka_2.12-3.6.0/libs/javax.annotation-api-1.3.2.jar
scripts/kafka_2.12-3.6.0/libs/javax.servlet-api-3.1.0.jar
scripts/kafka_2.12-3.6.0/libs/javax.ws.rs-api-2.1.1.jar
scripts/kafka_2.12-3.6.0/libs/jaxb-api-2.3.1.jar
scripts/kafka_2.12-3.6.0/libs/jersey-client-2.39.1.jar
scripts/kafka_2.12-3.6.0/libs/jersey-common-2.39.1.jar
scripts/kafka_2.12-3.6.0/libs/jersey-container-servlet-2.39.1.jar
scripts/kafka_2.12-3.6.0/libs/jersey-container-servlet-core-2.39.1.jar
scripts/kafka_2.12-3.6.0/libs/jersey-hk2-2.39.1.jar
scripts/kafka_2.12-3.6.0/libs/jersey-server-2.39.1.jar
scripts/kafka_2.12-3.6.0/libs/jetty-client-9.4.52.v20230823.jar
scripts/kafka_2.12-3.6.0/libs/jetty-continuation-9.4.52.v20230823.jar
scripts/kafka_2.12-3.6.0/libs/jetty-http-9.4.52.v20230823.jar
scripts/kafka_2.12-3.6.0/libs/jetty-io-9.4.52.v20230823.jar
scripts/kafka_2.12-3.6.0/libs/jetty-security-9.4.52.v20230823.jar
scripts/kafka_2.12-3.6.0/libs/jetty-server-9.4.52.v20230823.jar
scripts/kafka_2.12-3.6.0/libs/jetty-servlet-9.4.52.v20230823.jar
scripts/kafka_2.12-3.6.0/libs/jetty-servlets-9.4.52.v20230823.jar
scripts/kafka_2.12-3.6.0/libs/jetty-util-9.4.52.v20230823.jar
scripts/kafka_2.12-3.6.0/libs/jetty-util-ajax-9.4.52.v20230823.jar
scripts/kafka_2.12-3.6.0/libs/jline-3.22.0.jar
scripts/kafka_2.12-3.6.0/libs/jopt-simple-5.0.4.jar
scripts/kafka_2.12-3.6.0/libs/jose4j-0.9.3.jar
scripts/kafka_2.12-3.6.0/libs/jsr305-3.0.2.jar
scripts/kafka_2.12-3.6.0/libs/kafka_2.12-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/kafka-clients-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/kafka-group-coordinator-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/kafka-log4j-appender-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/kafka-metadata-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/kafka-raft-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/kafka-server-common-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/kafka-shell-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/kafka-storage-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/kafka-storage-api-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/kafka-streams-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/kafka-streams-examples-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/kafka-streams-scala_2.12-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/kafka-streams-test-utils-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/kafka-tools-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/kafka-tools-api-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/lz4-java-1.8.0.jar
scripts/kafka_2.12-3.6.0/libs/maven-artifact-3.8.8.jar
scripts/kafka_2.12-3.6.0/libs/metrics-core-2.2.0.jar
scripts/kafka_2.12-3.6.0/libs/metrics-core-4.1.12.1.jar
scripts/kafka_2.12-3.6.0/libs/netty-buffer-4.1.94.Final.jar
scripts/kafka_2.12-3.6.0/libs/netty-codec-4.1.94.Final.jar
scripts/kafka_2.12-3.6.0/libs/netty-common-4.1.94.Final.jar
scripts/kafka_2.12-3.6.0/libs/netty-handler-4.1.94.Final.jar
scripts/kafka_2.12-3.6.0/libs/netty-resolver-4.1.94.Final.jar
scripts/kafka_2.12-3.6.0/libs/netty-transport-4.1.94.Final.jar
scripts/kafka_2.12-3.6.0/libs/netty-transport-classes-epoll-4.1.94.Final.jar
scripts/kafka_2.12-3.6.0/libs/netty-transport-native-epoll-4.1.94.Final.jar
scripts/kafka_2.12-3.6.0/libs/netty-transport-native-unix-common-4.1.94.Final.jar
scripts/kafka_2.12-3.6.0/libs/osgi-resource-locator-1.0.3.jar
scripts/kafka_2.12-3.6.0/libs/paranamer-2.8.jar
scripts/kafka_2.12-3.6.0/libs/pcollections-4.0.1.jar
scripts/kafka_2.12-3.6.0/libs/plexus-utils-3.3.1.jar
scripts/kafka_2.12-3.6.0/libs/reflections-0.10.2.jar
scripts/kafka_2.12-3.6.0/libs/reload4j-1.2.25.jar
scripts/kafka_2.12-3.6.0/libs/rocksdbjni-7.9.2.jar
scripts/kafka_2.12-3.6.0/libs/scala-collection-compat_2.12-2.10.0.jar
scripts/kafka_2.12-3.6.0/libs/scala-java8-compat_2.12-1.0.2.jar
scripts/kafka_2.12-3.6.0/libs/scala-library-2.12.18.jar
scripts/kafka_2.12-3.6.0/libs/scala-logging_2.12-3.9.4.jar
scripts/kafka_2.12-3.6.0/libs/scala-reflect-2.12.18.jar
scripts/kafka_2.12-3.6.0/libs/slf4j-api-1.7.36.jar
scripts/kafka_2.12-3.6.0/libs/slf4j-reload4j-1.7.36.jar
scripts/kafka_2.12-3.6.0/libs/snappy-java-1.1.10.4.jar
scripts/kafka_2.12-3.6.0/libs/swagger-annotations-2.2.8.jar
scripts/kafka_2.12-3.6.0/libs/trogdor-3.6.0.jar
scripts/kafka_2.12-3.6.0/libs/zookeeper-3.8.2.jar
scripts/kafka_2.12-3.6.0/libs/zookeeper-jute-3.8.2.jar
scripts/kafka_2.12-3.6.0/libs/zstd-jni-1.5.5-1.jar
scripts/kafka_2.12-3.6.0/licenses/argparse-MIT
scripts/kafka_2.12-3.6.0/licenses/CDDL+GPL-1.1
scripts/kafka_2.12-3.6.0/licenses/checker-qual-MIT
scripts/kafka_2.12-3.6.0/licenses/DWTFYWTPL
scripts/kafka_2.12-3.6.0/licenses/eclipse-distribution-license-1.0
scripts/kafka_2.12-3.6.0/licenses/eclipse-public-license-2.0
scripts/kafka_2.12-3.6.0/licenses/jline-BSD-3-clause
scripts/kafka_2.12-3.6.0/licenses/jopt-simple-MIT
scripts/kafka_2.12-3.6.0/licenses/paranamer-BSD-3-clause
scripts/kafka_2.12-3.6.0/licenses/pcollections-MIT
scripts/kafka_2.12-3.6.0/licenses/slf4j-MIT
scripts/kafka_2.12-3.6.0/licenses/zstd-jni-BSD-2-clause
scripts/kafka_2.12-3.6.0/site-docs/kafka_2.12-3.6.0-site-docs.tgz
webapi/target/webapi
webapi/target/classes/META-INF/spring/logback-model
webapi/target/classes/META-INF/spring/logback-pattern-rules
webapi/target/spring-aot/main/resources/META-INF/spring/logback-model
webapi/target/spring-aot/main/resources/META-INF/spring/logback-pattern-rules
webapi/LOG_PATH_IS_UNDEFINED/orm-usm.2024-01-15.0.log.gz
search/target/*.*
search/target/**/*.*
