.vscode/*.*
api-lib/.settings/*.*

api-lib/target/*.*
api-lib/target/**/*.*
api-lib/.classpath
api-lib/.factorypath
api-lib/.project
dao-lib/.settings/*.*
dao-lib/target/*.*
dao-lib/target/**/*.*
dao-lib/.classpath
dao-lib/.factorypath
dao-lib/.project
db-migration/target/*.*
db-migration/target/**/*.*
domain/.settings/*.*
domain/target/*.*
domain/target/**/*.*
domain/.classpath
domain/.factorypath
domain/.project
infrastructure/.settings/*.*
infrastructure/target/*.*
infrastructure/target/**/*.*
infrastructure/.classpath
infrastructure/.factorypath
infrastructure/.project
logging/target/*.*
logging/target/**/*.*
ports/.settings/*.*
ports/target/*.*
ports/target/**/*.*
ports/.classpath
ports/.factorypath
ports/.project
validation/target/*.*
validation/target/**/*.*
webapi/.settings/*.*
webapi/target/*.*
webapi/target/**/*.*
webapi/.classpath
webapi/.factorypath
webapi/.project
